.email-form {
    display: flex;
    flex-direction: column;
    width: inherit;
    text-align: center;
}

.small-input {
    font-family: Roboto;
    margin-bottom: 10px;
    background-color: #4B4B4B;
    color: white;
    font-size: small;
    border: none;
}

.large-input {
    font-family: Roboto;
    resize: none;
    margin-bottom: 10px;
    height: 100px;
    background-color: #4B4B4B;
    color: white;
    font-size: small;
    border: none;
}

button {
    font-family: Roboto;
    background-color: #4361EE;
    height: 30px;
    color: white;
    border: none;
}

button:hover {
    background-color: #364ec7;
    cursor: pointer;
}

.email-form-title {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 300;
    align-self: center;
}

.email-form-error-message {
    margin: 0;
    font-family: Roboto;
    color: red;
}