.App {
  text-align: center;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #424242;
}

.background-image {
  flex: 1;
  justify-content: center;
}

.mobile-navbar {
  width: 80vw;
  height: 53px;
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar {
  width: 60vw;
  height: 53px;
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title {
  color: #424242;
  font-family: Pacifico;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: auto;
}

.cover {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.cover-text-container {
  display: flex;
  flex-direction: column;
  flex:1;
}

.text-1 {
  color: #424242;
  font-family: Pacifico;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
  margin: 0;
  margin-right: auto;
}

.text-2 {
  margin: 0;
  color: #424242;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
  margin-right: auto;
}

.cover-illustration {
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
}

img {
  width: 485.1px;
  height: 374.539px;
}